/* MEDIA QUERIE TABLET */


@media (max-width: 1200px) {
    /* main */
    .main-container {
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        margin: 17vh auto;
    }
    
    .text-main {
        max-width: 80vw;
    }

    .text-main h1 {
        font-size: 7vw;
        text-align: center;
    }

    .text-main p {
        font-size: 3vw;
        text-align: center;
    }

    #btn-main {
        width: 35vw;
        font-size: 3.5vw;
        align-self: center;
    }

    #background-main {
        max-width: 70vw;
    }

    /* sobre */
    .article-container {
        gap: 10vh;
    }

    .article-1, .article-2 {
        flex-direction: column;
        gap: 10vh;
    }

    #img-entregador {
        width: 50vw;
    }
    
    #img-entregadora{
        order: 0;
        width: 53vw;
    }

    .text-article {
        order: 1;
        width: 75vw;
    }

    .text-article h2 {
        font-size: 5.5vw;
        text-align: center;
    }

    .text-article p {
        font-size: 3vw;
        text-align: center;
    }

    #btn-article {
        width: 35vw;
        font-size: 3.5vw;
        align-self: center;
        margin: auto;
    }

    .article-container {
        margin: 15vh 0;
    }
}

@media (max-width: 1200px) and (orientation: landscape) { /* tablet deitado */
    /* main */
    .main-container {
        flex-direction: column;
        justify-content: center;
        margin: 15vh auto;
    }

    .text-main {
        max-width: 70vw;
    }

    .text-main h1 {
        font-size: 5vw;
        text-align: center;
    }

    .text-main p {
        font-size: 2.2vw;
        text-align: center;
    }

    #btn-main {
        width: 25vw;
        font-size: 2.6vw;
        align-self: center;
    }

    /* sobre */
    .article-1, .article-2 {
        flex-direction: column;
    }

    .article-2 img {
        order: 0;
    }

    .article-2 .text-article {
        order: 1;
    }

    #img-entregador {
        width: 45vw;
    }
    
    #img-entregadora{
        order: 0;
        width: 48vw;
    }

    .text-article {
        order: 1;
        width: 60vw;
    }

    .text-article h2 {
        font-size: 4vw;
        text-align: center;
    }

    .text-article p {
        font-size: 2vw;
        text-align: center;
    }

    #btn-article {
        width: 25vw;
        font-size: 2.6vw;
        align-self: center;
        margin: auto;
    }

    .article-container {
        margin: 20vh 0;
    }
}